body {
  background-color: #f4f4f4;
}

.main {
  width: 1140px;
  margin: auto;
  text-align: center;
  padding-top: 101px;
  padding-bottom: 98px;
}

.main-text__title {
  font-size: 30px;
  font-weight: 400;
  color: #6c1c02;
  margin-bottom: 45px;
}

.main-text__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 54px;
}

.main-items-item {
  display: inline-block;
  background-color: white;
  vertical-align: middle;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 271px;
  height: 502px;
}

.main-items-item__img {
  margin-top: 42px;
  margin-bottom: 29px;
}

.main-items-item__title {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
  height: 33px;
  margin-bottom: 15px;
}

.main-items-item__price {
  font-size: 18px;
  font-weight: 400;
  color: #393939;
  padding-bottom: 36px;
}

.button {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #e70000;
  -webkit-box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
          box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
  padding: 29px 48px;
}

@media (max-width: 992px) {
  .main {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .main {
    width: 350px;
  }
}
