body {
  font-family: Tahoma;
  margin: 0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1140px;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 77px;
  padding-bottom: 96px;
}

.header-img {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.header-text {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 555px;
}

.header-text__title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 15px;
}

.header-text__subtitle {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 35px;
}

.header-text__description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 47px;
}

.header-text__price {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 53px;
}

.header-text__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  padding: 22px 46px;
  font-size: 24px;
  font-weight: 700;
  background-color: #f05a22;
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 20px;
}

.button-o {
  color: #f05a22;
  background-color: transparent;
  border: solid 3px #f05a22;
}

.section-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 87px;
}

.section-shipping {
  padding-top: 89px;
  padding-bottom: 99px;
  text-align: center;
  background-color: #f2f2f2;
}

.section-shipping-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-shipping__img {
  min-height: 54px;
  margin-bottom: 16px;
}

.section-shipping__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}
