.header
    &-logo
        background: url(../images/Lesson12/logo.png) center no-repeat
        background-size: 100%
        width: 191px
        height: 61px
    padding: 60px 0 14px 0
    &-contacts
        display: flex
        justify-content: flex-end
        align-items: center
        &__phone
            font-size: 22px
            font-weight: 500
            color: $text-color-dark
            &s
                display: flex
        &__separator
            width: 1px
            height: 32px
            opacity: 0.2
            background-color: #cfcfd0
            margin-right: 13px
            margin-left: 13px
        &__button
            margin-left: 27px
@keyframes myBox
    from
        opacity: 0
        margin-bottom: -100px
        transform: rotateY(90deg)
    to
        opacity: 1
        margin-bottom: 0      
.animate
    opacity: 0
    animation-name: myBox
    animation-delay: 0.4s
    animation-duration: 1s
    animation-fill-mode: forwards
