.button
    font-size: 14px
    font-weight: 500
    background-color: $active-color
    color: $text-color-light
    border: none
    padding: 13px 22px
    border-radius: 5px
    &:hover
        background-color: lighten($active-color, 6)
        cursor: pointer
    img
        vertical-align: middle