h2 {
    text-align: center;
    color: red;
}

body {
    background-color: lightgray;
}

img {
    border: solid chocolate;
}

.notes {
    font-weight: bold;
}

h1 {
    text-decoration: underline;
}

li {
    font-style: italic;
}

p {
    color: lightslategrey;
}

.contents {
    position: fixed;
    top: 100px;
    right: 15px;
}